body {
  margin: 0 !important;
  border: none;
  position: relative;
  /* width: 0px; */
  width: 400px;
  overflow-x: hidden;

  /* height: 0px; */
}

.container {
  width: 400px;
  padding: 20px;
  padding-bottom: 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.4);
  background-color: #d9d9d9;
  position: absolute;
  top: 0;
  left: 0;
}

.container h2 {
  text-align: center;
  font-size: 18px;
  margin: 10px 0;
  color: #444;
}

.container .pool {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}

.container .pool label {
  margin-bottom: 10px;
}

.container .pool button {
  padding: 4px;
  background-color: #032d60;
  color: white;
  text-align: left;
  border: 1px solid #0176d3;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: max-content;
  cursor: pointer;
}

.container .pool ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  background-color: white;
  margin-top: 5px;
  border-radius: 5px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  position: absolute;
  display: none;
  z-index: 1;
  max-height: 200px;
  overflow-y: auto;
  top: 100%;
  left: 0;
}

.container .pool ul li {
  padding: 8px 12px;
  cursor: pointer;
  font-size: 14px;
  cursor: pointer;
}

.container .pool ul li:hover {
  background-color: #ccc;
}

.container .pool ul li .check svg {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  color: #0176d3;
}

.container .pool button svg {
  width: 20px;
  height: 20px;
}

.container .pool button .text {
  flex-grow: 1;
  margin-right: 10px;
  margin-left: 10px;
}

.container .db-drivers {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}

.container .db-drivers label {
  margin-bottom: 10px;
}

.container .db-drivers button {
  padding: 4px;
  background-color: white;
  text-align: left;
  border: 1px solid #0176d3;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  cursor: pointer;
}

.container .db-drivers ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  background-color: white;
  margin-top: 5px;
  border-radius: 5px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  position: absolute;
  display: none;
  z-index: 1;
  max-height: 200px;
  overflow-y: auto;
  top: 100%;
  left: 0;
}

.container .db-drivers ul li {
  padding: 8px 12px;
  cursor: pointer;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.container .db-drivers ul li:hover {
  background-color: #ccc;
}

.container .db-drivers ul li .check {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.container .db-drivers ul li .check svg {
  width: 16px;
  height: 16px;
  color: #0176d3;
}

.container .db-drivers button .chevron-down svg {
  width: 20px;
  height: 20px;
}

.number {
  width: 100%;
  /*display: none;*/
  flex-direction: column;
  margin-top: 20px;
}

.number input {
  width: 25%;
  margin-top: 10px;
  padding: 6px;
  border: 1px solid #ccc;
}

.prefix {
  width: 100%;
  /*display: none;*/
  flex-direction: column;
  margin-top: 20px;
}

.prefix input {
  width: 50%;
  margin-top: 10px;
  padding: 6px;
  border: 1px solid #ccc;
}

.btn {
  margin-top: 30px;
  text-align: center;
}

.btn button {
  padding: 12px;
  background-color: #0176d3;
  border: none;
  color: white;
  cursor: pointer;
  font-weight: 600;
  border-radius: 5px;
  letter-spacing: 0.5px;
}

.btn button::disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.error-no-tableau {
  text-align: center;
  font-size: 16px;
  color: black;
  font-weight: bold;
}
